
<div class="container-fluid background p-2 pt-5">

    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active text-secondary" aria-current="page" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Politique de Confidentialité</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Termes & Conditions</a>
          </li>
      </ul>
      
</div>

<div class="container-fluid pb-4">
    <hr>
    <ul class="nav justify-content-center">
        <li class="nav-item">Copyright @2023 <a >I-TECH SARL.</a> Tous droits réservés.</li>
    </ul>
</div>

